body {
    padding: 0;
    margin: 0;
   background: rgb(255, 148, 143) ;
    /*rgb(143, 255, 205);*/
    color: #131313;
    font-family: "JetBrains Mono", monospace;
    overflow-x: hidden;
}



p {
    font-size: .9rem;
    margin: .75rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "JetBrains Mono", monospace;
}

h2 {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 800;
}


a {
    text-decoration: underline !important;
    color: black;
}

a:hover,
a:focus {
    text-decoration: none !important;
    color: black !important;
}

#p5-canvas-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#imgCanvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}

#postHero {
    border-top: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.075);
    padding: 3.75rem 0;
    #prefooter-img{
        padding: 2rem;
  background: white;
    }

    ul.menu-footer {
        left: -1.25rem;
        position: relative;

        li {
            font-weight: 200;
            font-size: .8rem;
            margin-bottom: .5rem;

            a {
                padding-left: 0;
            }
        }
    }
    ul.no-bullet {
        left: 0;
        position: relative;

        li {
            font-weight: 200;
            font-size: .9rem;
            margin-bottom: .5rem;

            a {
                padding-left: 0;
            }
        }
    }

}

#footer{
    background: black;
    .menu{
        background: black;
        a{
        color: white;
        padding: 1.5rem 0;
    }    
    a:hover, a:focus{
        color:white !Important;
    }
    }
}



